body {
    background-color: #D0E8E4; /* Soft teal background */
    color: #4A7C7D; /* Text color */
    font-family: Arial, sans-serif;
}
.logo {
    height: 50px; /* Adjust height of the logo */
    width: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between logo and text */
    border-radius:15px;
}

/* Navbar Styling */
.navbar {
    background-color: #2F5E5E; /* Dark teal navbar */
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header Styling */
.navbar h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:White
}

/* Buttons Styling */
.navbar button {
    background-color: #4A7C7D; /* Blue-green button */
    color: #FFFFFF; /* White text */
    border: none;
    padding: 10px 15px;
    margin:10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s ease-in-out;
}

/* Button Hover Effect */
.navbar button:hover {
    background-color: #2F5E5E; /* Darker shade on hover */
    color: #fff; /* White text */
    border-color: #fff;
}

/* Button Active Effect */
.navbar button:active {
    transform: scale(0.95);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar div {
        margin-top: 10px;
    }
    .logo {
        height: 40px;
    }
}
